@{
  Layout = "_Layout";
}
<h1>Add a new order to "@Model.Name"</h1>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  @*  *@
  <label for="orderTitle">Name</label>
  <input id="orderTitle" name="orderTitle" type="text" class="form-control">
  <br>
    <label for="orderDescription">Description</label>
  <input id="orderDescription" name="orderDescription" type="text" class="form-control">
  <br>
    <label for="orderPrice">Price ($)</label>
  <input id="orderPrice" name="orderPrice" type="number" class="form-control">
  <br>
    <label for="orderDate">Date</label>
  <input id="orderDate" name="orderDate" type="date" class="form-control">
  <br>
    <label for="orderType">Type</label>
  <input id="orderType" name="orderType" type="text" class="form-control">
  <br>
  <button type='submit' class="btn btn-primary">Add order</button>  
</form>