@using MVCBakery.Models;
@{
  Layout = "_Layout";
}
<h1>Vendors</h1>
<br>
@if (@Model.Count == 0)
{
  <p>No vendors have been setup :(</p>
} 

@foreach (Vendor vendor in Model)
{<h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3><p>• @vendor.Description</p>}
  <p><a href='/vendors/new'>+</a></p>
