@{
  Layout = "_Layout";
}
<h1>Setup Vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text" class="form-control">
  <br>
    <label for="vendorName">Vendor Description</label>
  <input id="vendorName" name="vendorDescription" type="text" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Add</button>
</form>