@{
  Layout = "_Layout";
}
<h1>Add a vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">
    <label for="vendorName">Vendor Description</label>
  <input id="vendorName" name="vendorDescription" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/vendors">Back to Vendor list</a></p>