@using MVCBakery.Models;
@{
  Layout = "_Layout";
}
<h3>Orders within "@Model["Vendor"].Name"</h3>

<ol>
@foreach (Order order in @Model["Orders"])
{
  <li><a href='/vendors/@Model["Vendor"].Id/orders/@order.Id'>@order.Description</a></li>

}
</ol>

<p><a href='/vendors/@Model["Vendor"].Id/orders/new'>Add a new item</a></p>