@using MVCBakery.Models;
@{
  Layout = "_Layout";
}
<h3>Here are all the orders in this vendor:</h3>

<ol>
@foreach (Order order in @Model["Orders"])
{
  <li><a href='/vendors/@Model["Vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  <p><a href='/vendors/@Model["Vendor"].Id/orders/new'>Add a new order</a></p>
}
</ol>

<p><a href='/vendors/@Model["Vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>